In [52]:
import pandas as pd
import re

In [50]:
dataCsv = pd.read_csv("data.csv", index_col=0)

In [51]:
dataCsv.head()

,Publication number,Category,Publication number.1,Category.1,Publication number.2,Category.2,Publication number.3,Category.3
0,US9040302B2,Non-Alcohol,US9012694B2,Alcohol,US9277674B2,Non-Autonomous Vehicles,US9646356B1,Autonomous Vehicles
1,US9040109B2,Non-Alcohol,US9012188B2,Alcohol,US9277385B2,Non-Autonomous Vehicles,US9645576B2,Autonomous Vehicles
2,US9040107B2,Non-Alcohol,US9010952B2,Alcohol,US9277311B2,Non-Autonomous Vehicles,US9622452B2,Autonomous Vehicles
3,US9040036B2,Non-Alcohol,US8987530B2,Alcohol,US9277191B2,Non-Autonomous Vehicles,US9599482B2,Autonomous Vehicles
4,US9038991B2,Non-Alcohol,US8981165B2,Alcohol,US9276431B2,Non-Autonomous Vehicles,US9598078B2,Autonomous Vehicles

In [47]:
dataCsv.iloc[:,[1,3,5,7]]=["Non-Alcohol","Alcohol", "Non-Autonomous Vehicles","Autonomous Vehicles"]

In [39]:

# remove unnammed columns
dataCsv = dataCsv.loc[:, ~dataCsv.columns.str.contains('^Unnamed')]
"""
new_header = dataCsv.iloc[0] #grab the first row for the header
dataCsv = dataCsv[1:] #take the data less the header row
dataCsv.columns = new_header
"""

'\nnew_header = dataCsv.iloc[0] #grab the first row for the header\ndataCsv = dataCsv[1:] #take the data less the header row\ndataCsv.columns = new_header\n'

In [48]:
dataCsv.head()

,Publication number,Category,Publication number.1,Category.1,Publication number.2,Category.2,Publication number.3,Category.3
0,US9040302B2,Non-Alcohol,US9012694B2,Alcohol,US9277674B2,Non-Autonomous Vehicles,US9646356B1,Autonomous Vehicles
1,US9040109B2,Non-Alcohol,US9012188B2,Alcohol,US9277385B2,Non-Autonomous Vehicles,US9645576B2,Autonomous Vehicles
2,US9040107B2,Non-Alcohol,US9010952B2,Alcohol,US9277311B2,Non-Autonomous Vehicles,US9622452B2,Autonomous Vehicles
3,US9040036B2,Non-Alcohol,US8987530B2,Alcohol,US9277191B2,Non-Autonomous Vehicles,US9599482B2,Autonomous Vehicles
4,US9038991B2,Non-Alcohol,US8981165B2,Alcohol,US9276431B2,Non-Autonomous Vehicles,US9598078B2,Autonomous Vehicles

In [49]:
dataCsv.to_csv("data.csv")

###############################
############  EDA  ############
###############################

In [ ]:

# Function to extract all the numbers from the given string 
def getNumbers(str): 
    array = re.findall(r'[0-9]+', str) 
    return array 
  
# Driver code 
str = "adbv345hj43hvb42"
array = getNumbers(str) 
print(*array)