In [52]:
import pandas as pd
import re

In [50]:
dataCsv = pd.read_csv("data.csv", index_col=0)

In [51]:
dataCsv.head()

,Publication number,Category,Publication number.1,Category.1,Publication number.2,Category.2,Publication number.3,Category.3
0,US9040302B2,Non-Alcohol,US9012694B2,Alcohol,US9277674B2,Non-Autonomous Vehicles,US9646356B1,Autonomous Vehicles
1,US9040109B2,Non-Alcohol,US9012188B2,Alcohol,US9277385B2,Non-Autonomous Vehicles,US9645576B2,Autonomous Vehicles
2,US9040107B2,Non-Alcohol,US9010952B2,Alcohol,US9277311B2,Non-Autonomous Vehicles,US9622452B2,Autonomous Vehicles
3,US9040036B2,Non-Alcohol,US8987530B2,Alcohol,US9277191B2,Non-Autonomous Vehicles,US9599482B2,Autonomous Vehicles
4,US9038991B2,Non-Alcohol,US8981165B2,Alcohol,US9276431B2,Non-Autonomous Vehicles,US9598078B2,Autonomous Vehicles

In [47]:
dataCsv.iloc[:,[1,3,5,7]]=["Non-Alcohol","Alcohol", "Non-Autonomous Vehicles","Autonomous Vehicles"]

In [39]:

# remove unnammed columns
dataCsv = dataCsv.loc[:, ~dataCsv.columns.str.contains('^Unnamed')]
"""
new_header = dataCsv.iloc[0] #grab the first row for the header
dataCsv = dataCsv[1:] #take the data less the header row
dataCsv.columns = new_header
"""

'\nnew_header = dataCsv.iloc[0] #grab the first row for the header\ndataCsv = dataCsv[1:] #take the data less the header row\ndataCsv.columns = new_header\n'

In [53]:
dataCsv.tail()

,Publication number,Category,Publication number.1,Category.1,Publication number.2,Category.2,Publication number.3,Category.3
295,WO2015032008A1,Non-Alcohol,US20160176589A1,Alcohol,CN103354991B,Non-Autonomous Vehicles,CN103281742B,Autonomous Vehicles
296,WO2015031940A1,Non-Alcohol,US20160175783A1,Alcohol,US9257926B2,Non-Autonomous Vehicles,CN102806912B,Autonomous Vehicles
297,WO2015003995A3,Non-Alcohol,US20160175782A1,Alcohol,US9257918B2,Non-Autonomous Vehicles,CN206091477U,Autonomous Vehicles
298,WO2014201037A3,Non-Alcohol,US20160175781A1,Alcohol,US9257867B2,Non-Autonomous Vehicles,EP2544928B1,Autonomous Vehicles
299,WO2015031637A1,Non-Alcohol,US20160145551A1,Alcohol,US9257832B2,Non-Autonomous Vehicles,EP2758295B1,Autonomous Vehicles

In [49]:
dataCsv.to_csv("data.csv")

###############################
############  EDA  ############
###############################

In [58]:

# Function to extract all the numbers from the given string 
def getNumber(str): 
    array = re.findall(r'[0-9]+', str) 
    return array[0] 
  
# Driver code 
str = "adbv345hj43hvb42"
array = getNumber(str) 
print(*array) 

centerintData.iloc[:,i] = dataCsv.iloc[:,[0,2,4,6]].apply(lambda x : getNumber(x))

3 4 5

In [59]:
centerintData.shape

(300, 8)

In [60]:
centerintData.head()

,Publication number,Category,Publication number.1,Category.1,Publication number.2,Category.2,Publication number.3,Category.3
0,9040302,Non-Alcohol,9012694,Alcohol,9277674,Non-Autonomous Vehicles,9646356,Autonomous Vehicles
1,9040109,Non-Alcohol,9012188,Alcohol,9277385,Non-Autonomous Vehicles,9645576,Autonomous Vehicles
2,9040107,Non-Alcohol,9010952,Alcohol,9277311,Non-Autonomous Vehicles,9622452,Autonomous Vehicles
3,9040036,Non-Alcohol,8987530,Alcohol,9277191,Non-Autonomous Vehicles,9599482,Autonomous Vehicles
4,9038991,Non-Alcohol,8981165,Alcohol,9276431,Non-Autonomous Vehicles,9598078,Autonomous Vehicles